<app-header [titulo] = "'PIZARRON'"></app-header> 
<ion-content [fullscreen]="true">
    <div>
        <div>
            <p>Pizarron para escribir</p>
            <img src="../../../assets/img/pizarron-1.jpeg" alt="pizarron 1">
        </div>
        <div>
            <p>Pizarron para pintar</p>
            <img src="../../../assets/img/pizarron-2.jpg" alt="pizarron 2">
        </div>
        <div>
            <p>Pizarron para locales</p>
            <img src="../../../assets/img/pizarron-3.webp" alt="pizarron 3">
        </div>

    </div>
    <app-footer></app-footer>
</ion-content>