<app-header [titulo] = "'ARMADURA'"></app-header> 
<ion-content [fullscreen]="true">
    <div>
        <img src="../../../assets/img/armadura-1.jpg" alt="armadura 1">
        <img src="../../../assets/img/armadura-2.jpg" alt="armadura 2">
    </div>
    <div>
        <ion-button *ngIf="isLoggedIn">
            Logout
          </ion-button>
          <ion-list>
            <ion-item *ngFor="let item of items">
              {{ item }}
            </ion-item>
          </ion-list>
          <ion-input [(ngModel)]="username"></ion-input>
    </div>

    <app-footer></app-footer>
</ion-content>