<input type="text" id="mitexto">
        <button onclick="" class="mayusculas" id="done">Enviar</button>
        <button onclick="" class="mayusculas">Cambiar</button>
        <button onclick="">Limpiar</button>
        <div class="container">
            <div>
                <label for="usuariotxt">Usuario</label>
                <input type="text" id="usuariotxt">
            </div>

            <div>
                <label for="passwordtxt">Password</label>
                <input type="text" id="passwordtxt">
            </div>

            <button>Login</button>
            <button>Registrarme</button>

            <div id="contenido"></div>
        </div>
