<app-header [titulo]="'SHOP'"></app-header>
<ion-content [fullscreen]="true">
  <div class="card-group">
    <div class="card">
      <img src="/assets/img/C3Rust.jpg" class="card-img-top" alt="Rust">
      <div class="card-body">
        <h5 class="card-title">Rust Game</h5>
        <div class="card-p-a">
          <p class="card-text">$5000</p>
          <a href="#" class="btn btn-primary">Agregar</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/C2Steam.jpg" class="card-img-top" alt="Card Steam">
      <div class="card-body">
        <h5 class="card-title">Gift Card Steam</h5>
        <div class="card-p-a">
          <p class="card-text">$50.000</p>
          <a href="#" class="btn btn-primary">Agregar</a>
        </div>
        
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/C1Valorant.jpg" class="card-img-top" alt="Card Valorant">
      <div class="card-body">
        <h5 class="card-title">Gift Card Valorant</h5>
        <div class="card-p-a">
          <p class="card-text">$500</p>
          <a href="#" class="btn btn-primary">Agregar</a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>


