<app-header [titulo]="'INFORMACIÓN'"></app-header>
<ion-content [fullscreen]="true">
  <div class="introduccion">
    <p>Somos una empresa dedicada a la venta de juegos. Los artículos se van actualizando según su disponibilidad.
  </p>
  </div>
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d168676.62964343128!2d-65.41767484478099!3d-24.824400535032083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1694035954050!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="formulario">
    <ion-button routerLink="/formulario">CONTACTANOS</ion-button>
  </div>
  <app-footer></app-footer>
</ion-content>

