ion-content {
    background-size: cover;
    ion-header {
        ion-toolbar {
            width: 100%;
            height: 30%;
            --background: black;
            margin: 50% 0px;
            ion-title {
                width: 100%;
                text-align: center;
                font-size: 43px;
                --color: rgb(109, 109, 109);
            }
        }
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ion-button {
            --background: red;
            width: 35%;
        }
        ion-button:active {
            --background: red;
        }
    }

}