ion-content {
    ion-header {
        ion-toolbar {
            ion-title {
                text-align: center;
                color: white;
            }
        }
    }
    div.inputs-form {
        margin: auto;
        width: 95%;
        height: 30%;
        border: 7px solid white;
        ion-list {
            ion-item {
                ion-input {
                    color: white;
                }
                ion-textarea {
                    color: white;
                }
            }
        }
    }
    div.btns-form {
        margin: 7px;
        display: flex;
        justify-content: space-around;
        ion-button {
            margin: 5px;
            width: 40%;
        }
    }
}