<ion-menu side="end" menuId="menu" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item routerLink="/welcome">TIENDA GAMER</ion-item>
            <p>EXTRAS</p>
            <ion-item routerLink="/perro">perro</ion-item>
            <ion-item routerLink="/armadura">armadura</ion-item>
            <ion-item routerLink="/computadora">computadora</ion-item>
            <ion-item routerLink="/piedra">piedra</ion-item>
            <ion-item routerLink="/pizarron">pizarron</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>