<app-header [titulo] = "'COMPUTADORA'"></app-header> 
<ion-content [fullscreen]="true">
    <div>
        <div>
            <p>Notebook Lenovo perfect 3020</p>
            <img src="../../../assets/img/computadora-1.jpg" alt="computadora 1">
        </div>
        <div>
            <p>Notebook hp asus 25004</p>
            <img src="../../../assets/img/computadora-2.jfif" alt="computadora 2">
        </div>
        <div>
            <p>Notebook experiens 250p</p>
            <img src="../../../assets/img/computadora-3.jpg" alt="computadora 3">
        </div>

    </div>

    <app-footer></app-footer>
</ion-content>